@font-face {
	font-family: 'Battleship';
	src: url('./fonts/Juvanze-ovw9A.otf') format('truetype');
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Battleship';
	background-image: url("./images/pixel_ocean_and_sky_background2.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
	padding: 30px;
	letter-spacing: 2px;
	word-spacing: 4px;
}

/* header */
#header {
	padding-bottom: 20px;
}

h1 {
	
	font-size: 60px;
}
h2 {
	font-size: 30px;
}

/* content */
#content {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 100px;
	padding-bottom: 20px;
}
#human, #ai {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
table, td, th {
	border: 1px solid;
}

td {
	background-image: url("./images/21-48-10-87_512.webp"); 
	background-position: bottom;
}


table {
	
	border-collapse: collapse;
	text-align: center;
	display: inline-table;
	overflow:scroll;
	table-layout: fixed;
	width: 480px;
}

td {
	height: 50px;
}
#resetGameBtn{
	font-family: 'Battleship';
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #0c55c2;
	border: none;
	border-radius: 15px;
	box-shadow: 0 5px #7e5f5f;
}

#resetGameBtn:hover {
	background-color: #0c55c2
}

#resetGameBtn:active {
  background-color: #0c55c2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* dialog */

::backdrop, dialog + .backdrop {
	background-color: rgb(158 158 158 / 61%);
}

dialog {
	width: 362px;
    margin-left: 950px;
    margin-top: 385px;
    height: 154px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

dialog::backdrop {
	display: flex;
}