* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
	padding: 75px;
}

/* header */
#header {
	padding-bottom: 20px;
}
h1{
	font-size: 35px;
}

/* content */
#content {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 100px;
	padding-bottom: 20px;
}
#human, #ai {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
table, td, th {
	border: 1px solid;
}

table {
	display: flex;
	border-collapse: collapse;
	height: 450px;
	width: 450px;
	text-align: center;
	display: inline-table;
	border: none; 
	word-wrap:break-word;
	overflow:scroll;
}
td {
	width: 40px;
	height: 20px;
}
img {
	width: 27px;
}
/* footer */
#footer {
	padding-top: 50px;
}
