* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
	padding: 75px;
}

/* header */
#header {
	padding-bottom: 20px;
}
h1{
	font-size: 35px;
}

/* content */
#content {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 100px;
	padding-bottom: 20px;
}
#human, #ai {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
table, td, th {
	border: 1px solid;
}
#ai-cells {
	display: none;
}
td.ai-cells {
	opacity: 0;
}
table {
	border-collapse: collapse;
	text-align: center;
	display: inline-table;
	overflow:scroll;
	table-layout: fixed;
	width: 480px;
}

td {
	height: 50px;
}
/* footer */
#footer {
	padding-top: 50px;
}
